@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Sen';
    src: url('../fonts/Sen-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}
