* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

:root {
    --bgcolor-dark-gray: #181823;
    --bgcolor-black: #000000;
    --bgcolor-purple: #5221E6;
    --text-grey: #555560;
    --text-light-grey: #cccccc;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--bgcolor-dark-gray);
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    width: 100%;
    position: absolute;
}

header section:nth-child(1) {
    background-color: var(--bgcolor-black);
    padding: 32px 50px;
}

header section:nth-child(1) img {
    width: auto;
    height: auto;
}

header section:nth-child(2) {
    background-color: var(--bgcolor-dark-gray);
    padding: 32px 50px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative; 
    z-index: 100;
}

header nav > a {
    font-weight: 700;
    font-size: 18px;
    margin-right: 24px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-left: 10px;
}

header nav ul li a {
    font-size: 14px;
    opacity: 0.8;
    padding: 10px 20px;
    border-radius: 2px;
}

header nav ul li:not(.active) a:hover {
    background-color: var(--bgcolor-purple);
    padding: 30px 20px;
    opacity: 1;
    font-weight: 700;
}

header nav ul li.active a {
    background-color: var(--bgcolor-purple);
    padding: 30px 20px; 
    font-weight: 700;
    opacity: 1;
}

section.header-robin {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    pointer-events: none;
}

section.header-robin img {
    width: auto;
    height: 80%;
    justify-self: center;
    align-self: center;
    margin-left: 20%;
}

section.header-robin div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 4vw;
    position: relative;
    left: -40px;
    width: 850px;
}

section.header-robin div h1 {
    color: white;
    font-size: 78px;
    margin-bottom: 20px;
    text-align: left;

}

section.header-robin div h1 span {
    color: var(--text-grey);
    display: block;
}

section.header-robin div p {
    color: var(--text-light-grey);
    font-size: 18px;
    text-align: left;
    
}



